# Описание настроек форматирования для clang-format 14

BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 80
PointerAlignment: Left
SpaceAfterCStyleCast: true
DerivePointerAlignment: false
AlignTrailingComments: true
SortIncludes: true
BraceWrapping:
  AfterClass: true
  AfterFunction: true